.form2{
    height: 30rem;
    width: 40rem;
    color:white;
background-color:black;
margin: auto;
margin-top: 10rem;



}
.div2{
    padding-top: 6rem;
    display : flex;
flex-direction: column;
justify-items: center;
align-items: center;
gap:3rem;

}
.next-prev{
    display: flex;
    flex-direction: row;
    gap:4rem;
    
}